<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <link rel="stylesheet" th:href="@{/css/user/register.css}">
</head>

<body class="text-center">

    <main class="form-signin w-100 m-auto">
        <form method="post" th:action="@{/register}">
            <img class="mb-4" src="https://getbootstrap.com/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
            <h1 class="h3 mb-3 fw-normal">회원가입</h1>

            <div class="form-floating">
                <input type="text" class="form-control" id="email" name="email" >
                <label for="email">Email</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="password" placeholder="Password" name="password" >
                <label for="password">Password</label>
            </div>

            <div class="form-floating mt-3">
                <input type="text" class="form-control" id="city" placeholder="city" name="city">
                <label for="city">도-시</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="street" placeholder="street" name="street">
                <label for="street">구</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="zipcode" placeholder="zipcode" name="zipcode">
                <label for="zipcode">우편번호</label>
            </div>


            <!--            <div class="checkbox mb-3">-->
<!--                <label>-->
<!--                    <input type="checkbox" value="remember-me"> Remember me-->
<!--                </label>-->
<!--            </div>-->

            <button class="w-100 btn btn-lg btn-primary" type="submit">회원가입</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2023.01–</p>
        </form>
    </main>


    <script th:src="@{/js/bootstrap.js}"></script>
</body>

</html>