<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

    <div class="container">
        <div class="row">
            <h1 class="display-5 text-center text-secondary">관리자 페이지</h1>
        </div>
        <div class="container row">
            <a href="/" class="text-center">메인</a>
        </div>
    </div>
    
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>