<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<!--Navbar Top Header-->
<!--<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:replace="fragments/common-header"></header>-->
<!--------------------->

    <div class="container-fluid">
        <div class="row">

            <main class="col-md-9 ms-sm-auto me-sm-auto col-lg-10 px-md-4">
                <div class="row">
                    <h1 class="display-5 text-center py-4">Dobaerang Shop</h1>
                </div>

                <div class="row text-center mt-3">
                    <h3>회원 기능</h3>
                    <div>
                        <a class="btn btn-dark" th:href="@{/register}" role="button" sec:authorize="!isAuthenticated()">회원 가입</a>
                        <a class="btn btn-dark" th:href="@{/all-users}" role="button">회원 조회</a>
                        <a class="btn btn-dark" th:href="@{/login}" role="button" sec:authorize="!isAuthenticated()">로그인</a>
                        <form method="post" th:action="@{/logout}" style="display: inline" sec:authorize="isAuthenticated()">
                            <button type="submit" class="btn btn-dark">로그아웃</button>
                        </form>
                    </div>
                </div>

                <div class="row text-center mt-3">
                    <h3>상품 기능</h3>
                    <div>
                        <a class="btn btn-primary" href="#" role="button">상품 등록</a>
                        <a class="btn btn-primary" href="#" role="button">상품 조회</a>
                    </div>
                </div>

                <div class="row text-center mt-3">
                    <h3>배송 기능</h3>
                    <div>
                        <a class="btn btn-warning" href="#" role="button">상품 주문</a>
                        <a class="btn btn-warning" href="#" role="button">주문 내역</a>
                    </div>
                </div>

            </main>

        </div>
    </div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>