<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<!--Navbar Top Header-->
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:replace="fragments/common-header"></header>
<!--------------------->

    <div class="container-fluid">
        <div class="row">

            <main class="col-md-9 ms-sm-auto me-sm-auto col-lg-10 px-md-4">
                <div class="row">
                    <h1 class="display-5 text-center">메인 페이지</h1>
                </div>

                <div class="row">
                    <a href="/login-form" class="display-5 text-center" sec:authorize="!isAuthenticated()">로그인</a>
                    <a href="/register" class="display-5 text-center" sec:authorize="!isAuthenticated()">회원가입</a>
                </div>

                <div class="row">
                    <a href="/user-page" class="display-5 text-center" sec:authorize="isAuthenticated()">유저 페이지</a>
                </div>

                <div class="row">
                    <a href="/admin-page" class="display-5 text-center" sec:authorize="isAuthenticated()">관리자 페이지</a>
                </div>
            </main>

        </div>
    </div>
<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>